@keyframes fade{
    0% { 
        opacity: 0;
        transform: translateX(-50%) scale(1);
    }
    100% { 
        opacity: 1;
        transform: translateX(-50%) scale(5);
    }
}

body {
    background: linear-gradient(to right, rgb(149, 255, 255), rgb(89, 195, 195));
}

#image{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
    margin-bottom: 200px;
    position: relative;
    width: 20%;
    height: 20%;
    opacity: 0;
    
}

#heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20vh;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}
#Subheading{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10vh;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
}

#display{
    width: 50%;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: block;
    position: absolute;
    top: 55%;  /* Changed from 60% to 70% to move it further down */
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

button {
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    width: 20%;
    height: 50px;
    border: none;
}

button:hover {
    background-color: rgb(206, 206, 206);
}
button:active {
    background-color: #b5b5b5;
;
}

