@keyframes fade{
    0% { opacity: 0; }
  100% { opacity: 1; }
  
  }

body {
    background-color: rgb(149, 255, 255);
}

#image{
    position: relative;
    width: 20%;
    height: 20%;
    opacity: 0;
}


#heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90hv;
}

#display{
    width: 50%;
    height:50px;
    overflow: hidden;
}

button{
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    width: 20%;
    height: 50px
    border none;
    

}
button:hover{
    background-color: rgb(206, 206, 206);
}